@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <center>
    <p>
        <H1>GreenApps Inc.</H1>
    </p>
    <p>
        <h3>Desarrollada por:</h3>
    </p>
    <p>
        <h4>Herberth Torres</h4>
        </p>
    <p>
        ATI
    </p>
    <p>
        <h4>Esteban Segura</h4>
    </p>
    <p>   
        IC
    </p>
    </center>
</article>

<aside>
    <h3></h3>
    <p>
        
    </p>
    <ul>
        
    </ul>
</aside>