@{
    ViewBag.Title = "Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Viaje acompañado, disfrute el viaje, ayude al ambiente!
            </p>
        </div>
    </section>
}
<h3>Texto:</h3>
<ol class="round">
    <li>
        <h5>Propósito de la Aplicación</h5>
        La aplicación surge para intentar solucionar el problema de la gran cantidad de carros que existe en el país, por medio de un sistema que permita a los usuarios registrados en la aplicación, dar a conocer las rutas por las que transcurre, con el fin de que otros usuarios conozcan de la ruta y si viajan a puntos en común pueda solicitar viajar juntos siempre que el  usuario dueño del transporte lo permita.

La aplicación permitirá registrar viajes en carro con sus respectivos asientos disponibles y ofrecer esos asientos a personas que vayan de un origen cercano y a un destino similar, opcionalmente a cambio de un aporte económico para cubrir gastos de gasolina.

Los clientes de la aplicación serían cualquier  tipo de persona que necesite viajar a su destino maximizando los recursos y ayudando al medio ambiente.

    </li>

    
</ol>
