@{
    ViewBag.Title = "Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Texto, <mark>texto</mark> más texto
            </p>
        </div>
    </section>
}
<h3>Texto:</h3>
<ol class="round">
    <li class="one">
        <h5>Titulo 1</h5>
        Texto
    </li>

    <li class="two">
        <h5>Titulo 2</h5>
        Texto
    </li>

    <li class="three">
        <h5>Titulo 3</h5>
        Texto
    </li>
</ol>
